<!DOCTYPE html>
<html>
  <head>
    <title>Slack Bot Down</title>
  </head>
  <body>
    <p>Hello,</p>

    <p>
      Slack Bot at host <strong>{{ ansible_hostname }}</strong> is not running.
      Please check.
    </p>

    <p>Thank you!</p>
  </body>
</html>
